.catalog_title {
    width: @w-catalog-title;
    background: @bg-catalog-title;
    box-sizing: border-box;
    min-height: @minh-catalog-title;

    &_wrap {
        .wrapper(@width: 75%, @margin: 0 auto, @display: flex);
        padding: 59px 0 0 0;
        box-sizing: border-box;
        justify-content: space-between;
    }

    &_heading {
        .text(@style: normal, @weight: normal, @size: 24px, 
        @line-h: 29px, @align: left, @clr: #F16D7F, @z: 1);
        text-transform: uppercase;
    }

    &_bread_crumbs {
        .text(@style: normal, @weight: 300, @size: 14px, 
        @line-h: 17px, @align: left, @clr: #636363, @z: 1);
        text-transform: uppercase;
        padding: 6px 0 0 0;
        text-decoration: none !important;

        &:hover {
            color: #636363 !important;
        }

        &_target {
            color: #F16D7F;
            text-decoration: none !important;

            &:hover {
                color: #F16D7F !important;
            }

        }

    }
      

  }