.header {
    width: @w-header;
    min-height: @h-header;
    background: @bg-header;
    box-sizing: border-box;

    &_wrap {
        .wrapper(@width: 75%, @margin: 0 auto, @display: flex);
        justify-content: space-between;
        box-sizing: border-box;
    }

    &_left {
        display: flex;
        box-sizing: border-box;
        width: @w-header-left;

        &_logo {
            display: block;
            width: @w-logo;
            height: @h-logo;
            margin: @mrgn-logo;
        }
    
        &_search {
            margin: @mrgn-search;
            width: @w-search;
        }
    
        &_search_btn {
            display: block;
            width: @w-search_btn;
            height: @h-search_btn;
            cursor: pointer;
        }
    
        &_search form {
            display: @disp-search-form;
            width: @w-search-form;
            position: @pos-search-form;
            margin: @mrgn-search-form;
        }

        &_search_area {
            width: @w-search-area;
            height: @h-search-area;
            outline: @outline-search-area;
            padding: 10px;
            box-sizing: border-box;
            border-radius: 14px;
            border: none;
        }

    }

    &_search {
        border: none;
        margin: 0 0 0 -72px;
        background: @bg-hidden-search;
        width: @w-hidden-search;
        height: @h-hidden-search;
        border-radius: 0 16px 16px 0;
        color: @clr-hidden-search;
    }

    &_right {
        display: flex;
        justify-content: flex-end;

        &_menu {
            width: @w-header-right-menu;
            height: @h-header-right-menu;
            cursor: pointer;
            margin: 30px 33px 0 0;
        }

        &_profile {
            width: @w-header-right-profile;
            height: @h-header-right-profile;
            margin: 26px 33px 0 0;
        }

        &_cart {
            margin: 26px 10px 0 0;
            position: relative;

            &_img {
                width: @w-header-right-cart-img;
                height: @h-header-right-cart-img;
            }

            &_counter {
                width: @w-header-right-cart-counter;
                height: @h-header-right-cart-counter;
                background: @bg-header-right-cart-counter;
                border-radius: 9px;
                position: absolute;
                top: -8px;
                left: 22px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }

    }

  }

.open {
    display: block;
    background: @bg-search-btn;
    border: none;
}

.close {
    display: block;
    position: absolute;
    right: 91px;
    top: 12px;
    width: @w-close-search-btn;
    height: @h-close-search-btn;
}

.hidden_menu {
    display: none;
    width: @w-hidden-menu;
    height: @h-hidden-menu;
    background: @bg-hidden-menu;
    position: absolute;
    top: 75px;
    right: 0;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    box-sizing: border-box;
    z-index: @z-2;

    &_close_btn {
        display: block;
        margin: 15px 200px;
        cursor: pointer;
    }

    &_list {
        list-style-type: none;
        padding: 0 0 0 34px;

        &_heading {
            display: block;
            margin: 0 0 24px 0;
            text-decoration: none;
            text-transform: uppercase;
            color: @clr-hidden-menu-list-heading;
            font-style: normal;
            font-weight: bold;
            font-size: 90%;
            line-height: 17px;

            &:hover {
                color: @clr-hidden-menu-list-heading !important;
              }

        }

    }

    &_first_lvl_item_heading {
        display: block;
        margin: 0 0 12px 0;
        text-decoration: none;
        text-transform: uppercase;
        color: @clr-hidden-menu-first-lvl-item-heading;
        font-style: normal;
        font-weight: normal;
        font-size: 90%;
        line-height: 17px;

        &:hover {
            color: #F16D7F !important;
        }

    }

    &_second_lvl_item_heading {
        display: block;
        margin: 0 0 11px 20px;
        text-decoration: none;
        color: @clr-hidden-menu-second-lvl-item-heading;
        font-style: normal;
        font-weight: normal;
        font-size: 90%;
        line-height: 17px;

        &:hover {
            color: @clr-hidden-menu-second-lvl-item-heading !important;
        }
    }
}

.last {
    padding-top: 9px;
  }

.reference_header_right_cart {
    text-decoration: none;
    color: #FFF;
    font-size: 12px;
    line-height: 14px;
  }