.promo {
    width: @w-promo;  
    background: @bg-promo;
    box-sizing: border-box;
    margin: 0 0 65px 0;

    &_wrap {
        .wrapper(@width: 75%, @margin: 0 auto, @display: flex);
        min-height: @minh-promo-wrap;
        box-sizing: border-box;
        justify-content: space-between;
    }

    &_image {
        margin: 35px 0 -35px -215px;
    }

    &_heading {
        height: @h-promo-heading;
        padding-left: 16px;
        border-left: 12px solid #F16D7F;
        margin: 290px 20px 0 0;
        display: inline-block;
        text-transform: uppercase;

        &_first {
            font-style: normal;
            font-weight: 900;
            font-size: 48px;
            line-height: 58px;
            color: @clr-promo-heading-first;
        }
    
        &_second {
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 38px;
            color: @clr-promo-heading-second;
        }

        &_third {
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 38px;
            color: @clr-promo-heading-third;
        }
    }
}