.slider {
    .wrapper(@width: 100%, @margin: 0 auto, @display: flex);
    min-height: @minh-slider;
    background: @bg-slider;
    justify-content: space-between;

    &_btn {
        width: 47px;
        height: 47px;
        border: none;
        align-self: center;
        cursor: pointer;

        & img {
            width: 9px;
            height: 14px;
            cursor: pointer;
        }

    }

}